<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TecMaze.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="TecMaze.My.MySettings.questionsConnectionString" connectionString="Data Source=C:\Windows\symantecna\questions.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="TecMaze.My.MySettings.easyConnectionString" connectionString="Data Source=|DataDirectory|\easy.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="TecMaze.My.MySettings.hardConnectionString" connectionString="Data Source=|DataDirectory|\hard.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <TecMaze.My.MySettings>
            <setting name="notepad" serializeAs="String">
                <value>C:\Windows\symantecna\symantec_log.txt</value>
            </setting>
            <setting name="time" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="customdirectory" serializeAs="String">
                <value>D:\waste</value>
            </setting>
            <setting name="score" serializeAs="String">
                <value>False</value>
            </setting>
        </TecMaze.My.MySettings>
    </applicationSettings>
</configuration>
